body{
    margin: 0px;
  
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Half-Width{
width: 50%;
padding-left: 5%;


}
#Section-One{
    margin-bottom: 150px;
    


}
#Welcome-One{
    font-size: 50px;
}
#Welcome-Two{
    font-size: 50px;
}
.Orange-Text{
    color: orange;
}
.Half-Width p{
    padding-right: 100px;
    text-align: justify;
}
.Half-Width img{
    width: 80%;
}
#Link-Button-One{

text-decoration: none;
background-image: linear-gradient(120deg, #27b5e4, violet);
border-radius: 5px;
padding: 10px 40px;
color: black;
font-weight: 700;
}
#Section-Two{

   

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
#Link-Button-Two{

    text-decoration: none;
    background-image: linear-gradient(120deg, #081d24, Gray);
    border-radius: 5px;
    padding: 10px 40px;
    color: White;
    font-weight: 700;
    }


#Experience-Text{
    font-size: 48px;
}

.Flexible-Container{
   display: flex; 
}


.Experience-Box{
    width: 40%;
    margin: 4% 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
   
    box-shadow: 10px 10px 40px gray;
}


.Experience-Area-Text{
    font-size: 40px;


}



#Experience-Area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Experience-Box-One{
    border-left: 7px solid;
    border-image: linear-gradient(Blue, rgb(39, 179, 226));
    border-image-slice: 1;

}
#Experience-Box-Two{
    border-left: 7px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}
#Footer-One{

    text-align: center;
}